$cl-white: #ffffff;
$cl-black: #000000;
$cl-green: #30783d;
$cl-red: #f53e27;
$cl-yellow: #ffc72a;

$cl-text: #666666;
$cl-link: #6089bd;
$cl-link__hover: #e25444;
$cl-code-bg: #efefef;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;